@charset "UTF-8";
/* CSS Document */
/*----------------
基本設定
-------------*/
html{
	min-width: 320px;
	font-size: 62.5%;
	overflow-y: scroll;
}
body{
	margin: 0;
	line-height: 1.6;
	font-size: 16px;
	font-size: 1.6rem;
	font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans','Helvetica','Arial',sans-serif;
	color: #444444;
	background-color: #f9f6f6;
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
img{
	border-style: none;
	vertical-align: bottom;
	max-width: 100%;
	height:auto;
}
/*----------------------------
ヘッダースモールサイズ
-------------------------------*/

/*ナビスモールサイズ*/
nav{
	height: 100px;
	width: 100%;
	z-index: 1;
	text-align: center;
	display: flex;
	align-items: center;
	background-color:rgba(249,246,246,0.7);
	box-shadow: 0 5px 15px rgba(108,101,96,0.3);
}

#nav_logo{
	width: 125px;
	height: auto;
	margin: 0 auto;
}
nav li{
	font-family: 'Montserrat', sans-serif;
}
nav ul{
	display: none;
}

/* ナビホバー */
nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  background: rgb(245, 204, 204);
  background: linear-gradient(
    45deg,
    rgba(245, 204, 204, 1) 0%,
    rgba(245, 229, 229, 1) 50%,
    rgba(245, 204, 204, 1) 100%
  );
  border-radius: 50%;
  width: 47px;
  height: 47px;
	opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
	
	transition:1s;
}

nav ul li a:hover::after {
    opacity: 1;
}

/*各ページメニューオーバー設定*/
#index_page #home a::after,#concept_page #concept a::after,#menu_page #menu a::after,#shop_page #shop a::after,#contact_page #contact a::after{
	opacity: 1;
}

/*スマホなび全画面*/
#gnav{
    transition:background-color 1s;
}
#gnav.panelactive{
	height: 100%;
	width: 100%;
	background-color:rgba(249,246,246,1);
	position: fixed;
	z-index: 50;
}

#gnav.panelactive h1{
	display: none;
}
#gnav.panelactive ul{
	display: block;
	line-height: calc(72 / 28);
	width: 120px;
	color: #9e6f48;
	font-size: 28px;
	font-size: 2.8rem;
	padding-top: 30px;
	font-weight: 100;
	margin: 0 auto;
}




/*スマホナビボタン*/
#nav-btn {
    width: 50px;
    height: 50px;
	background-color: #9e6f48;
	border-radius: 30px;
	position:fixed;
	top: 25px;
	right: 25px;
	padding: 15px;
	z-index: 100;
  }

 #nav-btn span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #f9f6f6;
	margin: 0 auto;
	 transition: .35s ease-in-out;
	 position: absolute;
  }
#nav-btn span:first-child {
	top: 14px;
}
#nav-btn span:nth-child(2){
	top: 23px;
}
#nav-btn span:last-child {
    top: 32px;
}
/*×に変化*/	
#nav-btn.active span:first-child {
    top: 25px;
    left: 15px;
    transform: rotate(-45deg);
}
#nav-btn.active span:nth-child(2),#nav-btn.active span:last-child {
    top: 25px;
	right: 15px;
    transform: rotate(45deg);
}


/*メインビジュアルスモールサイズ*/
#mainvisual{
	background-image: url("../images/small_mainvisual_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	top: 0;
	position: relative;
}

#copy {
    padding: 3%;
    bottom: 295px;
    position: absolute;
    right: 30%;
}
.main_copy,.sub_copy{
	font-family: 'Kiwi Maru', serif;
	color: #f9f6f6;
	text-shadow: 0 0 10px rgba(83,71,4,0.7);
}
.main_copy{
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.5;
}
/*レース装飾*/
.lace-top{
	background-image: url(../images/lace.png);
    background-repeat: repeat-x;
	width: 100%;
    height: 40px;
	z-index: 1;
	transform: scale(1,-1);
}
/*--------------------------------------------
メインセクションスモールサイズ
----------------------------------------------*/
main{
	text-align: center;
}
section{
	padding: 45px 0;
}
.sectiontitle{
	color: #9e6f48;
	line-height: 1.2;
	margin-bottom: 36px;
}
.sectiontitle strong{
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}
.sectiontitle img{
	width: 28px;
	height: 20px;
}

/*--------------------------------------------
フォトギャラリーセクションスモールサイズ
----------------------------------------------*/
#photo_Gallery{
	position:relative;
}
.sec1photo{
	position:absolute;
	z-index: 2;
	width:56px;
	height: 56px;
}
.yogurt {
    top: 1130px;
    right: 10%;
    width: 90px;
    height: auto;
}
.icetea {
    top: 1465px;
    right: 40px;
	width: 40px;
}
.quiche {
    top: 1465px;
    left: 30px;
    width: 40px;
}
.largeonly{
	display: none;
}
/*　イントロダクション*/
.introduction_bgimg{
	background-image: url("../images/large_sec1_teaback@2x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height:224px;
}
#introduction p{
	background-color: #f9f1e6;
	line-height: 2.25;
    padding: 50px 0;
}
.tea_dessert{
	display: block;
	width:70px;
	margin: 0 auto;
	margin-bottom: 20px;
}
/*シチュエーション写真*/
	.situationphoto{
		width:100%;
		position: relative;
		height: 580px;
		max-width: 600px;
		margin: 0 auto;
	}
	.inside{
		position: absolute;
		right: 0;
		z-index: 1;
	}
	.sofa{
		position: absolute;
		left: 0;
		bottom: 0;
	}

/*シチュエーション文*/
.situationtext{
	padding: 19.2px;
	line-height: 2.25;
}
#situation ul{
	text-align: left;
	width: 150px;
	margin: 0 auto;
}
#situation li{
	list-style: url("../images/list_icon.png") inside;
}

/*--------------------------------------------
メニューセクションスモールサイズ
----------------------------------------------*/
#menusec{
	background-color: #f9f1e6;
	border-top:1px dotted #9e6f48;
	border-bottom: 1px dotted #9e6f48;
}
/*説明文*/
.menu-text{
	padding: 19.2px 0;
	line-height: 2.25;
	background-image: url("../images/leaf.png");
	background-repeat: no-repeat;
	background-position: center;
}

#menusec h3{
	font-size: 24px;
	font-size: 2.4rem;
	position: relative;
	margin: 40px 0 30px;
	z-index: 10;
	
}
#menusec h3::after{
	content:'';
	font-family: 'Fondamento', cursive;
	font-size: 48px;
	color:#d1eae6;
	position: absolute;
	left: 0;
	right: 0;
	bottom:-6px;
	opacity: 0.5;
	z-index: -1;
	}
#drinkmenu h3::after{
	content:'Drink';
}
#foodmenu h3::after{
	content: 'Food&Sweets';
}
#menusec h4{
	font-size: 24px;
	font-size: 2.4rem;
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
	padding: 20px 0;
}
/*カルーセルスライダー左右に写真少し見える*/
.slider-nav1,.slider-nav2{
	width: 100%;
	margin: 0 auto;
}
.menuphoto{
	width: 95%;
	height: auto;
	border-radius: 50%;
	border: 1px dashed #9e6f48;
	padding: 5px;
	margin: auto;
}
.slider-for1,.slider-for2{
	width: 270px;
	margin:0 auto;
}
.slider-nav1 .slick-slide:not(.slick-center) {
	opacity:0.5;
}
.slider-nav2 .slick-slide:not(.slick-center) {
	opacity:0.5;
}
/*スライダー矢印*/
.slick-prev,
.slick-next {
  height: 40px;
  width: 40px;
}
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    color: #f8dfc3;
}
.slick-prev {
  left: 4%; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; 
/*	display: none;*/
}
.slick-next {
  right: 4%; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }
/*くわしく見るボタン*/
/* ボタン共通設定 */
.menubtn{
	position: relative;
	display: inline-block;
	color: #444444;
	padding: 10px 50px 10px 30px;
	border-radius: 25px;
	text-align: center;
	outline: none;
	transition: ease .2s;
	background: linear-gradient(
    45deg,
    rgba(246,210,171,1.00) 0%,
    rgba(250,230,207,1.00) 50%,
    rgba(246,210,171,1.00) 100%
  );
	box-shadow: 0 5px 2px #dbb589;
	margin: 20px;
	
}

.menubtn:hover{
	opacity: 0.6;
}
.menubtn:active{
	transform: translateY(5px);
	box-shadow: none;
}

/* 矢印が右に移動 */

.btnarrow::after{
    content: '';
	position: absolute;
    top:42%;
    right: 35px;
    width: 5px;
    height: 5px;
    border-top: 2px solid #444444;
    border-right: 2px solid #444444;
    transform: rotate(45deg);
    transition: all .3s;
}

/*hoverした際の移動*/
.btnarrow:hover::after{
    right: 25px;
}


/*--------------------------------------------
アクセスセクションスモールサイズ
----------------------------------------------*/
.entrancephoto{
	background:url("../images/entrance.jpg") no-repeat center;
	background-size: cover;
	width: 320px;
	height: 256px;
	margin: 0 auto;
}
/*経路図と説明*/
#ruteguide{
	box-shadow: 0 10px 32px rgba(135,117,96,0.3);
	width: 280px;
	margin: -20px auto 0;
	padding: 20px;
	background-color: #f9f6f6;
}
.rutemap img{
	width:259px;
	height: 114px;
}
#ruteguide p{
	padding: 19.2px;
	line-height: 1.6;
}
/*Googleマップ*/
.gmap iframe{
	width: 100%;
	height:250px;
	margin-top: 40px;
}

/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 50px;
	height: 46px;
	color: #333;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("../images/to_top_btn.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 52px;
	height: 62px;
    /*背景画像の指定*/
	background: url("../images/to_top_btn_hover.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}


/*レース装飾*/
.lace_bottom {
    background-image: url(../images/lace.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 50px;
}
/*--------------------------------------------
お問い合わせページスモールサイズ
----------------------------------------------*/
form table{
	width: 90%;
	margin: 20px auto;
	border: 2px solid #9e6f48;
}
tr{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #9e6f48;
}
tbody tr:last-child{
	border-bottom: none;
}
th{
	width:100%;
	font-weight: normal;
	padding: 5px;
}
td{
	width:100%;
	text-align: left;
	padding: 10px;
}
input[type="text"],[type="tel"],[type="email"],textarea{
	border: 1px solid #C9C9C9;
	border-radius:5px;
	width: 100%;
	margin: 10px 0;
	padding: 5px 0;
}
input[type="text"]:focus,[type="tel"]:focus,[type="email"]:focus,textarea:focus{
	background-color: #fff;
	box-shadow: 0px 0px 5px  #D6BABA;
	border: none;
}
textarea{
	height:120px;
	overflow: auto;
}
form span {
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    padding: 4px;
    margin:0 10px;
}
.optional{
	border: 1px solid #444444;
	color: #444444;
}
tbody br{
		display: none;
	}
/*送信ボタン*/
form input#submit{
	width: 87px;
	height: 40px;
	margin: 0 auto;
	color: #444444;
	padding: 8px 10px;
	border-radius: 25px;
	text-align: center;
	background: linear-gradient( 45deg, rgba(246,210,171,1.00) 0%, rgba(250,230,207,1.00) 50%, rgba(246,210,171,1.00) 100% );
	box-shadow: 0 5px 2px #dbb589;
	margin-top:20px;
}
form input#submit:hover{
	opacity: 0.6;
}
form input#submit:active{
	transform: translateY(5px);
	box-shadow: none;
}
/*レイアウト調節*/
#contact_page .lace-top{
	margin-top: 15px;
}

/*--------------------------------------------
フッタースモールサイズ
----------------------------------------------*/
footer{
	background-image: url("../images/small_footerback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 6%;
/*	height: 694px;*/
	width: 100%;
	text-align: center;
	position: relative;
}
#footer_inner{
	background-color: rgba(249,246,246,0.9);
	padding: 8.6%;
}
#footer_logo{
	width: 125px;
	height: auto;
	margin: 0 auto;
}
small{
	font-size: 10px;
	font-size: 1rem;
}
.footerleft,.footerright{
	margin:19.2px 0;
}
footer p{
	margin-bottom: 1em;
}

#sns{
	display: flex;
	justify-content: space-around;
}
#sns i{
	font-size: 20px;
	font-size: 2rem;
}
#sns a:hover{
	opacity: 0.5;
}
.phonenumber{
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #9e6f48;
	margin:1em 0 0em;
}
.phonenumber i{
	font-size: 16px;
	font-size: 1.6rem;
}
.phonenumber a:hover{
	opacity: 0.5;
}
.mailaddress a:hover{
	color:rgba(68,68,68,0.5);
}
footer i{
	color: #9e6f48;
	line-height: 24px;
	margin-right: 0.5em;
}

/*--------------ラージサイズ---------------------*/
@media only screen and (min-width: 768px) {
	
/*----------------------------
ヘッダーラージサイズ
-------------------------------*/
	
/*ナビラージサイズ	*/	
nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width:188px;
	height: 100vh;
	text-align: center;
	background-color:rgba(249,246,246,0.7);
	padding: 60px 0;
	flex-direction: column;
	justify-content: center;
}
#nav_logo{
	width: 150px;
	height: auto;
	margin: 0 auto;
}

nav ul {
    display: block !important;
    line-height: calc(60 / 22);
    width: 150px;
    color: #9e6f48;
    font-size: 22px;
    font-size: 2.2rem;
    padding-top: 30px;
    font-weight: 100;
}
nav ul li a::after {
  width: 40px;
  height: 40px;
}
#nav-btn{
		display: none;
	}
/*メインビジュアルラージサイズ*/
#mainvisual{
	background-image: url("../images/large_mainvisual_1.jpg");
	top: 0;
}
#copy{
	bottom: 0;
	right: 0;
	}
.main_copy,.sub_copy{
	font-family: 'Kiwi Maru', serif;
	color: #f9f6f6;
	text-shadow: 0	0	10px rgba(83,61,43,0.4);
	font-size: 18px;
	font-size: 1.8rem;
}
.main_copy{
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1.3;
}	

/*メイン*/
	
#wrapper{
	margin-left: 188px;
}
section{
	padding: 80px 0;
}
	
/*--------------------------------------------
フォトギャラリーセクションラージサイズ
----------------------------------------------*/

.sec1photo{
	width:100px;
	height: 100px;
}
.smallonly{
	display: none;
}
.largeonly{
	display:block;
}
/*　イントロダクション*/
	#introduction{
		position: relative;
	}
.introduction_bgimg{
	background-image: url("../images/sec1_teaback@2x.jpg");
	width: 100vw;
	height:486px;
}
#introduction p{
	background-color: transparent;
	position: absolute;
	right: 6%;
	bottom: 120px;
	text-shadow:0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6,0 0 3px #f9f1e6;
}
	/*文改行位置訂正*/
	#introduction p br{
		display: none;
	}
	#introduction p span{
		display: block;
	}
/*シチュエーション写真*/
#situation{
	display: flex;
	flex-direction: row-reverse;
	max-width:1100px;
	margin: 0 auto;
}
		
	.situationphoto{
		width:60%;
	}

	.situationtext{
		width: 40%;
		margin: auto;
		text-align:center;
	}
	.yogurt.largeonly {
		position: absolute;
		top: 360px;
		left: 250px;
		z-index: 2;
	}
	.icetea.largeonly{
		height: auto;
		width: 80px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	/*--------------------------------------------
メニューセクションラージサイズ
----------------------------------------------*/
.menu-text {
    margin-bottom: 80px;
}
/*文改行位置訂正*/
#menusec p br{
		display: none;
	}
#menusec p span{
		display: block;
	}
/*くわしく見るボタン*/
.menubtn{
	left: 35%;
}
/*カルーセルスライダー*/

.slider-for1,.slider-for2{
    width: 348px;
    margin: 0 auto;
	
}
.slider-nav1,.slider-nav2{
	width:100%;
}

.slider-nav1 li,.slider-nav2 li{
	margin: 0 28px;
}
.slider-nav1 .slick-slide:not(.slick-center) {
	transform: scale(0.6);
}
.slider-nav2 .slick-slide:not(.slick-center) {
	transform: scale(0.6);
}
	
/*スライダー矢印	*/
.slick-prev {
	display: block;
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }
/*--------------------------------------------
アクセスセクションラージサイズ
----------------------------------------------*/
.entrancephoto{
	max-width: calc(1100px - 188px);
	width: 100%;
	height: 750px;
}
	
/*経路図と説明*/
	
#ruteguide{
	width: 780px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.rutemap img{
	width:447px;
	height: 198px;
}
#ruteguide p{
	padding: 19.2px 0;
}
.rutetext span{
		display: block;
	}
	
/*Googleマップ*/
.gmap iframe{
	height:550px;
	margin-top: 60px;
}
	
	/*--------------------------------------------
お問い合わせページラージサイズ
----------------------------------------------*/
form table{
	max-width: 800px;
}
tr{
	display: flex;
	flex-direction: row;
}
th{
	width:30%;
	border-right: 1px dotted #9e6f48;
}
td{
	width:70%;
	vertical-align: middle;
}
form p br{
		display: none;
	}
	/*レイアウト調節*/
#contact_page .lace-top{
	margin-top: 0;
}
/*--------------------------------------------
フッターラージサイズ
----------------------------------------------*/
footer{
	background-image: url("../images/large_footerback.jpg");
	height: auto;
}
#footer_inner{
	max-height: 506px;
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
}
#footer_logo{
	width: 150px;
	height: auto;
	margin: 0 auto;
}
address{
	display: flex;
	justify-content: space-around;
	text-align: left;
}
/*文改行位置訂正*/
address p br{
		display: none;
	}
address p span{
		display: block;
	}
address strong{
	margin-right: 1em;
}
	
.footerleft,.footerright{
	margin:66px 0 1em;
}
.footerright{
		position: relative;
	}

#sns{
	position: absolute;
	bottom: 0;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 1em;
}
#sns i{
	font-size: 24px;
	font-size: 2.4rem;
}
#copyright{
		padding-bottom: 28px;
		
}
	
	
	
}
